body{
    margin-top: 20px;
    background-color: lightgrey;
}

.contact-card{
    background-color: rgba(50, 63, 78, 1)
}

.main{
    padding: 15px;
    font-family: 'DM Sans';
}

.left{
    width: 40%;
    float: left;
    background-color: rgba(211, 211, 211);
}

.right{
    width: 60%;
    float: right;
}

.card-data {
    margin-left: 20px;
    padding-left: 10px;
    display: block;
    color: rgb(55, 70, 89);
    padding-bottom: 10px;
    text-decoration: none;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
}


.card-data{
    font-family: Montserrat;
}

.notes{
    list-style: none;
}

.note{
    font-family: Montserrat;
    background-color: rgba(211, 211, 211, .15);
    padding: 10px;
    border: solid;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.newNoteInput{
    font-family: Montserrat;
    background-color: rgba(247, 210, 84, 0.15);
    width: 30%;
    height: 50px;
    margin-top: 20px;
}

.col-md-3{
    font-family: 'DM Sans';
    padding: 15px;
}

.button{
    margin: 15px;
    font-family: 'DM Sans';
    box-shadow: 3px 5px 10px rgba(136, 136, 136);
}

.card-text-head h1{
    margin-bottom: -20px;
}

