




.deal-card{
    background-color: rgba(50, 63, 78, 1)
}

.main{
    padding: 15px;
    font-family: 'DM Sans';
}

.left{
    width: 40%;
    float: left;
}







.card-text-head h3{
    margin-bottom: -20px;
}