.page-holder {
    margin: 8%;
}


th {
    border-bottom: 1px solid rgb(134, 132, 132);
    background-color: rgb(226, 226, 226);
    color: whatever;
}


td {
    padding: 0 1em;
    height: 1.8em;

}

body tr:hover {
    background-color: grey;
} 

